<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eval blanc PHP</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>

<header>
    <h2>Bienvenue sur notre plateforme</h2>
    <!-- Menu -->
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/product">Liste des Produits</a></li>
            <li><a href="/category">Liste des Catégories</a></li>

        </ul>
    </nav>
</header>



</body>
</html>

